<nav class="nav">
  <ul class="nav__list list">
    <li class="nav__item item">
      <a routerLink="store" routerLinkActive="active" class="nav__link link" (click)="changeHeader('All categories')" (click)="snav.close()">
        All categories
      </a>
    </li>
    <li class="nav__item item">
      <a routerLink="admin" routerLinkActive="active" class="nav__link link" (click)="changeHeader('Admin')" (click)="snav.close()">
        Admin
      </a>
    </li>
    <li class="nav__item item">
      <a routerLink="login" routerLinkActive="active" class="nav__link link" (click)="changeHeader('Login')" (click)="snav.close()">
        Login
      </a>
    </li>
    <li class="nav__item item">
      <a routerLink="login" class="nav__link link"  (click)="logout()" (click)="snav.close()">
        Logout
      </a>
    </li>
  </ul>
</nav>
