<form novalidate [formGroup]="editForm" (ngSubmit)="save(editForm)" class="w-75 m-auto text-center">
  <mat-form-field class="w-100">
    <input matInput #name formControlName="name" placeholder="Enter your name" required>
    <mat-hint align="end">{{name.value?.length || 0}}/10</mat-hint>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-select #category formControlName="category" placeholder="Category">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-100">
    <textarea matInput  #description formControlName="description"  placeholder="Description" required></textarea>
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput  #price formControlName="price"  placeholder="Amount" type="number" required>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <button type="submit" mat-stroked-button color="primary" class="mr-2" [disabled]="!editForm.valid">{{editing ? "Save" : "Create"}}</button>
  <button type="reset" mat-stroked-button color="primary" routerLink="/admin/products">Cancel</button>
</form>
