<mat-toolbar color="primary">
  <div class="navbar">
    <a routerLink="/" class="navbar__link link mat-button" mat-button>
      <svg class="toolbar__logo" role="img" viewBox="0 0 24 24">
        <path d="M9.93 12.645h4.134L11.996 7.74"/><path d="M11.996.009L.686 3.988l1.725 14.76 9.585 5.243 9.588-5.238L23.308 3.99 11.996.01zm7.058 18.297h-2.636l-1.42-3.501H8.995l-1.42 3.501H4.937l7.06-15.648 7.057 15.648z"/>
      </svg>
      <span>Sports store</span>
    </a>
    <app-cart></app-cart>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<app-page-header></app-page-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" mode="over" [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a routerLink="/store" mat-list-item routerLinkActive="active" class="nav__link link" (click)="changeHeader('All categories')">
        All categories
      </a>
      <a routerLink="/admin" mat-list-item routerLinkActive="active" class="nav__link link" (click)="changeHeader('Admin')" (click)="close()">
        Admin
      </a>
      <a routerLink="/login" mat-list-item routerLinkActive="active" class="nav__link link" (click)="changeHeader('Login')" (click)="close()">
        Login
      </a>
      <a routerLink="/login" mat-list-item class="nav__link link"  (click)="logout()" (click)="close()">
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
